*{
 box-sizing: border-box;
}
body{
    background-color: rgb(188, 183, 193);
}
*{
   box-sizing: content-box;
}
.myDiv{
    background: white;
    color: rgb(174, 76, 92);
    border:6px solid black;
    border-radius: 50%;
    height: 200px;
    width: 300px;
    padding: 50px;
    margin: 20px;
}
.div{
   background: red;
   color: white;
   height: 100px;
   width: 100px;
   padding: 20px;
}