*{
    box-sizing: border-box;
}
body{
    background-color: darkgray;
    color: black;
    font-size: large;
    font-weight: 500;
    font-style: oblique;
}
.viv{
    float: inline-end;
}
footer{
    background-color: rgb(204, 129, 129);
    color: beige;
    text-align: center;
    text-transform: uppercase;
    
}
